.section-1, .section-3{
    display: flex;
    padding: 60px 10% 60px 10%;
    margin: 0px;
}

.section-2, .section-4{
    display: flex;
    padding: 90px 10% 90px 10%;
    margin: 0px;
}

.section-1{
    background-color: #000000;
}
.section-2{
    background-image: url("../media/superHUMAN.gif");
    background-size: cover;
    background-position: center;
    position: relative;
}
.section-3{
    background-color: #ffffff;
}
.section-4{
    background-image: url("../media/sun.gif");
    background-size: cover;
    background-position: center;
    position: relative;
}

.text_1, .text_2, .text_4{
    color : #ffffff;
}
.text_3{
    color : #000000;
}


.section_1_image{
    height: auto;
    border-radius: 15px;
    align-self: center;
}

.section_3_image{
    height: auto;
    border-radius: 15px;
    align-self: center;
}

@media (max-width: 768px) {
    .section-1, .section-3{
        flex-direction: column;
        align-items: center;
    }
    .title{
        font-size: 8vw;
        font-weight: bold;
        margin: 0;
    }
    .subtitle{
        font-size: 4vw;
        margin: 0;
    }
    .section_1_image{
        width: 100%;
        margin-left: 0;
        margin-top: 60px;
    }
    .section_3_image{
        width: 100%;
        margin-left: 0;
        margin-bottom: 60px;
    }
}
@media (min-width: 768px) {
    .section-1, .section-3{
        flex-direction: row;
    }
    .title{
        font-size: 6vw;
        font-weight: bold;
        margin: 0;
    }
    .subtitle{
        font-size: 1.5vw;
        margin: 0;
    }
    .section_1_image{
        width: 40%;
        margin-left: 50px;
    }
    .section_3_image{
        width: 40%;
        margin-right: 50px;
    }
}