html{
    overflow-x: hidden;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
}

body.loaded {
    opacity: 1;
}

/*::-webkit-scrollbar {
    display: none;
}*/

header {
    color: #ffffff;
    height: 100vh;
    background: linear-gradient(to bottom, transparent, #000000);
}

.navigation {
    display: flex;
    width: 100%;
    height: 10%;
    font-size: 150%;
    justify-content: flex-end;
    top: 0;
}

.navigationItem {
    text-decoration: none;
    color : #ffffff;
    margin: 0 2% 0 2%;
    display: flex;
    align-items: center;

    transition: .3s;
}
.navigationItem:hover {
    transform: scale(1.1);
}

h1 {
    position: absolute; 
    left: 0; 
    bottom: 0;
    padding-left: 3vw;
    padding-bottom: 1vw;
    font-size: 8vw;
    margin: 0;
    animation: intro 2s;
}

@keyframes intro {
    0% {
        opacity: 0; 
        transform: translateX(-30px);
    }
    100% {
        opacity: 1; 
        transform: translateX(0);
    }
}

.separator{
    position: absolute;
    left: 0;
    width: 1920px;
    overflow: hidden;
    height: 50px;
    image-rendering: pixelated;
}

footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    filter: invert(1) brightness(2);
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}